.MoreButton-button {
  border: 1px solid #273500;
  padding: 7px 14px;
  font-size: 11px;
  font-weight: 400;
  color: #273500;
  background-color: #ffffff;
  min-height: 30px;
  cursor: pointer;
}

.MoreButton-button--primary {
  background-color: #273500;
  color: #ffffff;
}

.MoreButton-button:disabled {
  opacity: 0.55;
  cursor: default;
}
