.sidebar-menu {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.sidebar-menu__item {
	display: flex;
	align-items: center;
	gap: 8px;
	background: transparent;
	border: none;
	color: #59624a;
	transition: color 0.2s ease;
	width: 100%;
	padding: 0;
	text-align: left;
	font-weight: 500;
	font-size: 11px;
	line-height: 1;
	cursor: pointer;
}

.sidebar-menu__item:hover {
	color: #2c3900;
}

.sidebar-menu__icon {
	width: 17px;
	height: 17px;
	opacity: 0.95;
}

.sidebar-menu__label {
	line-height: 1;
}
