.ProductInfo-img {
  width: 100%;
  object-fit: cover;
}

.ProductInfo-wrapper > * {
  max-width: 264px;

}

.ProductInfo-img-wrapper {
  position: relative;
  display: flex;
  aspect-ratio: 1/1;
  /* max-width: 264px; */
  /* max-height: 264px; */
}

.ProductInfo-name {
  color: #182000;
  font-size: 16px;
  /* max-width: 264px; */
}

.ProductInfo-price {
  color: #182000;
  font-weight: 500;
  /* max-width: 264px; */
}

.ProductCard-container:hover .ProductInfo-name {
  text-decoration: underline;
}
