.Footer-wrapper {
  /* place holder */
  /* height: 200px; */
  /* width: 100%; */
  margin-top: 20px;
  /* place holder */

  background-color: #1f2900;
  padding-top: 72px;
  padding-left: 166px;
  padding-right: 166px;

  display: flex;
  flex-direction: column;
  gap: 72px;
}

.Footer-top-menu-list a,
.Footer-top-service-list a,
.Footer-top-other-list a,
.Footer-bottom a {
  text-decoration: none;
}

.Footer-top-menu-list,
.Footer-top-service-list,
.Footer-top-other-list,
.Footer-bottom {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.Footer-moto,
.Footer-heading {
  margin: 0;
}

.Footer-moto {
  color: #eaebe6;
  font-size: 14px;
  max-width: 150px;
}

.Footer-social-media-item {
  background-color: #e8efa4;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  position: relative;
}

.Footer-social-media-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Footer-facebook {
  height: 12px;
}

.Footer-instagram {
  width: 12px;
}

.Footer-youtube {
  width: 13.2px;
}

.Footer-heading {
  color: #e8efa4;
  font-weight: 600;
  font-size: 16px;
}

.Footer-social-media-wrapper {
  display: flex;
  gap: 16px;
}

.Footer-top-menu-item-link,
.Footer-top-service-item-link,
.Footer-top-other-item-link {
  color: #fafceb;
  font-weight: 300;
  font-size: 14px;
}

.Footer-bottom * {
  font-size: 14px;
  color: #eaebe6;
}

.Footer-bottom-item-link {
  border-left: 1px solid #eaebe6;
  padding-left: 5px;
  padding-right: 5px;
}

.Footer-bottom-copyright {
  padding-left: 5px;
  padding-right: 5px;
}

.Footer-bottom {
  border-top: 1px solid #bdc2b0;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}

.Footer-top {
  display: flex;
  justify-content: space-between;
}

.Footer-top-logo {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Footer-logo-img {
  width: 100px;
}

.Footer-top-menu,
.Footer-top-service,
.Footer-top-other {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.Footer-top-menu-list,
.Footer-top-service-list,
.Footer-top-other-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
